@{
    ViewData["Title"] = "Index";
}
<link href="~/css/task.css" rel="stylesheet" type="text/css" />
<h2>Tareas</h2>
<table class="table table-hover" id="tblUsuarios" style="table-layout:fixed; width:100%; word-wrap:break-word;">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Subir archivo
            </th>
            <th>
                Visible para el cliente
            </th>
            <th>
                Acción
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (TaskConfigurationModel task in ViewBag.taskList)
        {
            string nuevoId = task.id.ToString();
            string nuevoHref = nuevoHref = "taskState" + nuevoId;
            string nuevoCheckId;
            <tr>
                <td>
                    <span>
                        @task.name
                    </span>
                </td>
                <td>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        @{
                            nuevoCheckId = "checkUpload-" + nuevoId;
                        }
                        @if (task.allowDocuments == 1)
                        {
                            <input id=@nuevoCheckId class="custom-control-input taskState" type="checkbox" checked />
                        }
                        else
                        {
                            <input id=@nuevoCheckId class="custom-control-input taskState" type="checkbox" />
                        }
                        <label class="custom-control-label">Habilitar</label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        @{
                            nuevoCheckId = "checkView-" + nuevoId;
                        }
                        @if (task.state == 1)
                        {
                            <input id=@nuevoCheckId class="custom-control-input taskState" type="checkbox" checked />
                        }
                        else
                        {
                            <input id=@nuevoCheckId class="custom-control-input taskState" type="checkbox" />
                        }
                        <label class="custom-control-label">Habilitar</label>
                    </div>
                </td>
                <td>
                    <a id=@nuevoHref href="/TaskChange/" class="btn btn-outline-secondary">
                        <i class="fas fa-sync">
                            Actualizar
                        </i>
                    </a>
                    <a href="" class="btn btn-outline-primary">
                        <i class="fas fa-key">
                            Eliminar
                        </i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.response == 1)
{
    <script>
        alert("Actualizado correctamente");
    </script>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

