@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido a la Aplicacion Web <br /></h2>
    <h1 style="color:#ff6a00"><b>TMS</b></h1>
    <img src="~/img/logo_tms.jpg" style="padding:10px;" class="img-fluid" />
    <p class="p-md-5">Acerca de <a href="https://docs.microsoft.com/aspnet/core">Transport Management Services - Delta Cargo SRL</a>.</p>
</div>
<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>