@{
    ViewData["Title"] = "Index";
}
<link href="~/css/task.css" rel="stylesheet" type="text/css" />
<h2>Empresas</h2>
<table class="table table-hover" id="tblUsuarios" style="table-layout:fixed; width:100%; word-wrap:break-word;">
    <thead>
        <tr>
            <th>
                Empresa
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Accion
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (CompanyModel company in ViewBag.companyList)
        {
            <tr>
                <td>
                    <span>
                        @company.company
                    </span>
                </td>
                <td>
                    <span>
                        @company.description
                    </span>
                </td>
                <td>
                    <a id="/" href="" class="btn btn-outline-secondary">
                        <i class="fas fa-sync">
                            Actualizar
                        </i>
                    </a>
                    <a href="" class="btn btn-outline-primary">
                        <i class="fas fa-key">
                            Eliminar
                        </i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

